body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0c0f1d;
    color: #fff;
}

header .navbar {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px 30px;
}

header .item a {
  color: var(--color5);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  text-shadow: var(--shadow23);
  position: relative;
}

header .item a::after{

  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 0px;
  height: 2px;
  background-color: #8BE8E5;
  transition: all .6s ease;
  transform-origin: center;
}

header .item:hover a::after{

  width: 100%;
}
.header-container span {
  color: white;
  font-weight: 600;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; 
}
header {
    background-color: #1b1d2a;
    color: #8BE8E5;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    color: #ccc;
}

header a {
    text-decoration: none;
}

.stats-haaland {
    color: #ffff; 
    font-weight: 600;
}


main {
    padding: 20px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    flex: 0 0 50%;
    padding-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.text-container {
    flex: 0 0 50%;
    font-weight: 600;
}

.text-container p {
    margin-bottom: 20px;
    line-height: 1.8;
}

@media screen and (max-width: 800px) {
    .article-container {
        flex-direction: column;
    }

    .image-container {
        text-align: center;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
        margin: 0 auto; 
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: left; 
    }
}

