header .navbar {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px 30px;
}

header .item a {
  color: var(--color5);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  text-shadow: var(--shadow23);
  position: relative;
}

header .item a::after{

  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 0px;
  height: 2px;
  background-color: #8BE8E5;
  transition: all .6s ease;
  transform-origin: center;
}

header .item:hover a::after{

  width: 100%;
}
.header-container span {
  color: white;
  font-weight: 600;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; 
}
header {
    background-color: #1b1d2a;
    color: #8BE8E5;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    color: #ccc;
}

header a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0c0f1d;
    color: #fff;
}

main {
    padding: 20px;
}

.goals-section {
    margin-bottom: 30px;
}

h1 {
    color: #ffffff;
}

.goals-container {
    display: flex;
    flex-wrap: wrap;
}

.goal-item {
    cursor: pointer;
    flex: 0 0 calc(30% - 100px);
    margin: 20px;
    padding: 15px;
    background-color: #1b1d2a;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    align-items: center;
}

.goal-item img {
    max-width: 50px;
    height: auto;
    margin-left: auto;
}

.goal-number {
    font-weight: bold;
    font-size: 18px;
}

.goal-opponent {
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    flex-grow: 1;
}

p {
    font-weight: 800;
    font-size: 30px;
    color: #8BE8E5;
}

.goal-details {
    width: 100%;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: -15px;
}

.detail-item p {
    margin: 0;
    font-size: 14px;
    color: #1b1d2a;
    font-weight: bold;
}

.detail-item .detail-label {
    background-color: #fff;
    border-radius: 2rem;
    margin: 1rem 0;
    padding: .2rem 0;
    text-align: center;
    width: 48%
}

.detail-item .detail-value {
    background-color: #fff;
    border-radius: 2rem;
    margin: 1rem 0;
    padding: .2rem 0;
    text-align: center;
    width: 48%
}

.goal-details {
    display: none;
}


.view-goal-button p {
    font-weight: 600;
    font-size: 24px;
    color: #0c0f1d;
}


.view-goal-button {
    background-color: #8BE8E5;
    border-radius: 2rem;
    margin: 1rem 0;
    padding: .2rem 0;
    text-align: center;
    width: 48%;
    transition: transform 0.3s ease;
}

.view-goal-button:active {
    transform: scale(0.95);
}
.view-goal-button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .goal-item {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 500px) {
    .goal-item {
        flex: 0 0 100%;
    }
}

.video-section {
    text-align: center;
}

.video-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
}

.video-info {
    background-color: #1b1d2a;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.video-details {
    margin-top: 30px;
    text-align: center;
}

.video-details p {
    text-align: start;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 10px;
}

.video-info .card-header {
    color: #8BE8E5;
    font-weight: 600;
}

.goal-item.active {
    flex: 1 0 calc(30% - 100px);
}

.video-details {
    margin-top: 30px;
    text-align: center;
    position: relative; 
}

.slider-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.prev-button,
.next-button {
    background-color: #8BE8E5;
    color: #0c0f1d;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
    background-color: #0c0f1d;
    color: #8BE8E5;
}

.prev-button i {
    margin-right: 5px;
}

.next-button i {
    margin-left: 5px;
}

@media screen and (min-width: 1201px) {
    .goals-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 20px;
    }
  }

@media screen and (max-width: 1200px) {
    .goals-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 20px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .goals-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .goals-container {
      display: block;
    }
  }
  
/* Styles pour les appareils mobiles */
@media screen and (max-width: 768px) {
    .goal-details-section {
      display: none;
    }
  }


/* Masquer les détails des buts sur les appareils mobiles */
@media screen and (max-width: 768px) {
    .goal-details {
      display: none;
    }
  
    .goal-item.active .goal-details {
      display: block;
    }
  }
  
  /* Afficher les vidéos en plein écran sur les appareils mobiles */
  @media screen and (max-width: 500px) {
    .goal-item iframe {
      width: 100%;
      height: 00px; /* Ajustez la hauteur de la vidéo selon vos besoins */
    }
  }
  
  
